.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

h1 {
    text-align: center;
    color: #1e90ff; /* Dodger blue */
    margin-bottom: 16px;
}

.timestamp {
    text-align: center;
    color: #5f9ea0; /* Cadet blue */
    font-size: 0.9em;
    margin-bottom: 20px;
}

dl {
    background-color: transparent;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

dt, dd {
    flex: 1 1 50%;
    box-sizing: border-box;
    margin: 0;
}

dt {
    font-weight: bold;
    color: #4682b4; /* Steel blue */
    padding-right: 10px;
    text-align: right;
}

dd {
    color: #2f4f4f; /* Dark slate gray */
    padding-left: 10px;
}

@media (max-width: 800px) {
    .container {
        padding: 8px;
    }

    h1 {
        font-size: 1.5em;
    }

    dl {
        padding: 12px;
    }

    dt, dd {
        flex: 1 1 100%;
        text-align: left; /* Align left for mobile */
        padding: 2px 0; /* Add padding for better readability */
    }
    dd {
      margin-bottom: 10px;
    }
}

div#air-quality-data {
  min-width: 300px;
  width: 80%;
  max-width: 600px;
  border: 2px solid #5E8D9F;
  border-radius: 5px;
  background: white;
  opacity: 0.7;
  padding: 10px;
  margin-top: 20px;
}
.appWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  overflow-y: auto;

  /* Pseudo element */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/map.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    /* Adjust the opacity */
    opacity: 0.4; /* Changes only to this pseudo-element's transparency */
    z-index: -1; /* Sit below all direct child elements of .appWrapper */
  }
}
